extends layout

block content
	br
	.container
		.row
			.large-4.large-offset-4.columns
				img(src='/images/HackSC.png')

				h1.text-center.login-title Sign up for HackSC!!!

				p.
					HackSC cordially invites you, #{user['firstName']}, to hack with us!

				.signup-wall
					form.form-signin(action='/landing', method='POST')
						input.form-control(type='text', name='firstName', placeholder='First Name', value=''+defTag.firstName)
						input.form-control(type='text', name='lastName', placeholder='Last Name', value=''+defTag.lastName)
						input.form-control(type='email', name='email', placeholder='Email', value=''+defTag.email)
						input.form-control(type='text', name='phone', placeholder='Phone', value=''+defTag.phone)
						input.form-control(type='text', name='address', placeholder='Address', value=''+defTag.address)

						button(class='button small', type='submit') Submit
						#message
							if message.length
								h4.text-center.error #{message}